body {
    padding: 0;
    margin: 0;
    text-decoration: none;
    background-image: url("../images/jake-blucker-tMzCrBkM99Y-unsplash.jpg");
    background-size: cover;
}

.box {
    width: 50%;
    margin: auto;
    box-sizing: content-box;
    box-shadow: 5px 4px 5px 5px rgb(102, 102, 26);
    border-radius: 1%;
    padding: 5px;
    height: 650px;
    padding-top: 1.5rem;
    padding-bottom: 2rem;
    background-image: url("../images/jake-blucker-tMzCrBkM99Y-unsplash.jpg");
    background-size: cover;
}

h1 {
    text-align: center;
    color: white;
}

.inputs {
    gap: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

input, select{
    width: 50%;
    height: 4vh;
    font-size: 1rem;
    outline: none;
}
#time{
    font-size: 1.6rem;
}
.btn {
    text-align: center;
    margin-top: 2.5rem;
}

.button a {
    text-decoration: none;
}

.button,
.clear {
    padding: 1.3rem;
    font-size: 1.2rem;
    margin-right: 2rem;
}